<img width=500 src="Imagenes/Assembler.png">

                                        Individual Project No-SQL databases
                                        
                                        
## Introduction

The Data bases are the best tool to store information, and according on how we would like to store this information (just like many tables pointing to the same study, or simply keeping the variability of the fields on each record without having to store a lot of null values, etc) some kinds of data bases are more effective than others. There are many application that allow to manage and handle data base for each type of data base but the interaction of these data when it needs to go from a database type to another could be "annoying", that's why in this project we will try to interact with  none structured data base from a central notebook connected to local servers of Neo4j and MongoDB data bases manager systems, and in an additional section, will connect and manipulate a new and larger data base  with MySQL to extend the initial mondoDB dataset, and then perform a brief data behavior analysis through the MongoDB charts utility with this data exported to a cluster

# Connecting Jupyter to Neo4j

This part of the notebook is intended to group and keep recorded all  individual project's  neo4j proposed queries, performed from local neo4j desktop app.
If other neo4j app would be used to perform (for example neo4j sandbox), the Bolt URL may change.
Also your Jupyter notebook need to be able to connect with neo4j through the neo4j's driver.
Neo4j instal available running: (Copy, paste and run in a code cell the line below)

.
`!pip install neo4j`

In [1]:
from neo4j import GraphDatabase
url= "bolt://localhost:7687"                                
pwd= "12345678"                                             #This password may change (it is setted by each user at the creation of the neo4j project), be sure you typed yours
driver = GraphDatabase.driver(url, auth=("neo4j",pwd))      #Both Bolt URL and password are setted for the localhost connection and to get wholes access to the databases

The dbms_create function must be executed  due that this data base will contain the data and where the consultant queries will be performed

In [2]:
def dbms_create(DBMS):
    ''' Creates a data base in the neo4j project folder, by input the arbitrary database name'''
    proceed=False          
    while proceed==False:
        with driver.session() as session:
            try:
                query = session.run(f"CREATE DATABASE {DBMS}").single()
                proceed = True
            except Exception as e:
                print (e)
            return query

The query function must be executed every time we want to do a query

In [3]:
def query(sentence):
    f'''Query performs any neo4j sentence at the {DBMS} data base, by input the query sentence as input argument'''
    proceed=False            #    through this condition          
    while proceed==False:
        with driver.session() as session:
            try:
                query = session.run(f'''USE {DBMS}\n{sentence}''').single()
                proceed = True
            except Exception as e:
                print (e)
            return query

## Creating the data base

In [6]:
DBMS= "`Neo4jProject`"      # `Neo4jProject` is an arbitrary title, setted by the user
result= dbms_create(DBMS)

## Performing Neo4j proposed queries 
Create a graph in which we represent a series of courses and students, where students are associated with courses through a realize type relationship

### Creating nodes and relationships

#### Course labeled nodes

In [44]:
sentence= '''
CREATE (java:Course{name: "Standard Java Programming", duration: 120, price: 80})
CREATE (angular:Course{name: "Angular", duration: 30, price: 110})
CREATE (spring:Course{name: "Spring", duration: 80, price: 200})
'''
result= query(sentence)

<img width=350 src="Imagenes/course_nodes.png">

#### Course labeled nodes

In [45]:
sentence= '''
CREATE (pepe:Student{name: "Pepe", age: 20})
CREATE (ana:Student{name: "Ana", age: 40})
CREATE (elena:Student{name: "Elena", age: 34})
CREATE (mario:Student{name: "Mario", age: 19})
'''
result= query(sentence)

<img width=350 src="Imagenes/courses_n_students.png">

#### Setting up relationships between students and courses

In [46]:
sentence= '''
MATCH (pepe {name:"Pepe"}),(ana {name:"Ana"}),(elena {name:"Elena"}),(mario {name:"Mario"}),(java {name:"Standard Java Programming"}),(angular {name:"Angular"}),(spring {name:"Spring"})
CREATE
(pepe)-[:PERFORMS {schedule:"Morning"}]->(java),
(pepe)-[:PERFORMS {schedule:"Afternoon"}]->(angular),
(elena)-[:PERFORMS {schedule:"Afternoon"}]->(java),
(ana)-[:PERFORMS {schedule:"Morning"}]->(angular),
(mario)-[:PERFORMS {schedule:"Morning"}]->(spring)
'''
result= query(sentence)

<img width=350 src="Imagenes/match_n_return_n.png">

### Consulting queries

#### Show the name of the students who take courses

In [23]:
sentence= '''
MATCH (n:Student)-[:PERFORMS]->(:Course)
RETURN collect(DISTINCT n.name)'''
result= query(sentence)
print (result)

<Record collect(DISTINCT n.name)=['Pepe', 'Elena', 'Ana', 'Mario']>

#### Search for the spring course

In [28]:
sentence= '''
MATCH (spring{name:"Spring"})
RETURN spring'''
result= query(sentence)
print (result)

<Record spring=<Node element_id='4:755b4880-058e-4f88-a384-417f9d62c057:9' labels=frozenset({'Course'}) properties={'duration': 80, 'price': 200, 'name': 'Spring'}>>

#### Show the courses that Pepe takes

In [26]:
sentence= '''
MATCH (pepe:Student{name:"Pepe"})-[:PERFORMS]->(course:Course)
RETURN collect( DISTINCT course.name)'''
result= query(sentence)
print (result)

<Record collect( DISTINCT course.name)=['Angular', 'Standard Java Programming']>

<img width=350 src="Imagenes/graph2.3.png">

#### Show Pepe's data and the number of courses where he has enrolled

In [31]:
sentence= '''
MATCH (pepe:Student{name:"Pepe"})-[:PERFORMS]->(course:Course)
WITH count(course) as Courses_Enrolled, pepe as Pepe_info
RETURN Pepe_info, Courses_Enrolled'''
result= query(sentence)
print (result)

<Record Pepe_info=<Node element_id='4:755b4880-058e-4f88-a384-417f9d62c057:10' labels=frozenset({'Student'}) properties={'name': 'Pepe', 'age': 20}> Courses_Enrolled=2>

#### Show the name and the total number of the students who take the angular course

In [32]:
sentence= '''
MATCH (n:Student)-[:PERFORMS]->(course:Course{name:"Angular"})
WITH collect(n.name) as Angular_Students, count(n) as Angular_Nstudents
RETURN Angular_Students, Angular_Nstudents'''
result= query(sentence)
print(result)

<Record Angular_Students=['Ana', 'Pepe'] Angular_Nstudents=2>

#### Modify Ana's age from 40 to 25 years and then show the person whose age  is 25

In [33]:
sentence= '''
MATCH (n:Student)
WHERE n.name="Ana"
SET n.age=25
WITH n as n
WHERE n.age = 25
RETURN n'''
result= query(sentence)
print(result)

<Record n=<Node element_id='4:755b4880-058e-4f88-a384-417f9d62c057:11' labels=frozenset({'Student'}) properties={'name': 'Ana', 'age': 25}>>

#### Show all ages of students

In [34]:
sentence= '''
MATCH (n:Student)
RETURN collect(n.age)'''
result= query(sentence)
print (result)

<Record collect(n.age)=[20, 25, 34, 19]>

#### Show the price of all courses

In [35]:
sentence= '''
MATCH (n:Course)
RETURN collect(n.price)'''
result= query(sentence)
print(result)

<Record collect(n.price)=[80, 110, 200]>

#### Discard Mario

In [36]:
sentence= '''
MATCH (mario:Student{name:"Mario"})
DETACH DELETE mario'''
result= query(sentence)
print(result)

None

<img width=350 src="Imagenes/graph2.9.png">

#### Obtain the maximum and minimum age and the sum of students

In [37]:
sentence= '''
MATCH (n:Student)
WITH max(n.age) as Student_MaxAge, min(n.age) as Student_MinAge
RETURN Student_MaxAge, Student_MinAge'''
result= query(sentence)
print(result)

<Record Student_MaxAge=34 Student_MinAge=20>

#### Modify the relationship Pepe and Java relationship, since it happens to perform it in the afternoon

In [42]:
sentence= '''
MATCH (a:Student{name:"Pepe"})-[r:PERFORMS]->(b:Course{name:"Standard Java Programming"})
SET r.schedule = "Afternoon"
RETURN collect(a),collect(r),collect(b)'''
result= query(sentence)
for cursor in result:
    print(cursor)

[<Node element_id='4:755b4880-058e-4f88-a384-417f9d62c057:10' labels=frozenset({'Student'}) properties={'name': 'Pepe', 'age': 20}>]
[<Relationship element_id='5:755b4880-058e-4f88-a384-417f9d62c057:5' nodes=(<Node element_id='4:755b4880-058e-4f88-a384-417f9d62c057:10' labels=frozenset({'Student'}) properties={'name': 'Pepe', 'age': 20}>, <Node element_id='4:755b4880-058e-4f88-a384-417f9d62c057:7' labels=frozenset({'Course'}) properties={'duration': 120, 'price': 80, 'name': 'Standard Java Programming'}>) type='PERFORMS' properties={'schedule': 'Afternoon'}>]
[<Node element_id='4:755b4880-058e-4f88-a384-417f9d62c057:7' labels=frozenset({'Course'}) properties={'duration': 120, 'price': 80, 'name': 'Standard Java Programming'}>]

<img width=350 src="Imagenes/graph2.11.png">

#### Remove the tree

In [43]:
sentence= '''MATCH (n)
DETACH DELETE n'''
result= query(sentence)

# Connecting Jupyter to MongoDB

This part of the notebook is intended to group and keep recorded all  individual project's  mongoDB proposed queries, performed from mongodb localhost (mongodb compass).
If other mongoDB app would be used to perform (for example mongoDB Atlas), connection parameters could change.
Also your Jupyter notebook need to be able to connect with mongodb localhost through Pymongo, available running the code: (Copy, paste and run in a code cell the line below)

.
`!pip install pymongo`

In [5]:
import pymongo
from pymongo import MongoClient

## Creating the database

In [6]:
client = MongoClient("localhost", 27017)

In [9]:
db = client["MongoProject"]
movies = db["movies"]

In [10]:
def dispQuery(sentence):
    '''Take the resultant query and iterates over the cursor position to print the results. By input the sentence'''
    for cursor in sentence:
        print(cursor,"\n")

### Insert the following documents into a collection called `movies`.

In [ ]:
movies.insert_many([
{
"title" : "Fight Club",
"Writer": "Chuck Palahniuk",
"Year": 1999,
"actors": ["Brad Pitt","Edward Norton"]
},
{
"title": "Pulp Fiction",
"writer": "Quentin Tarantino",
"year" : 1994,
"actors" : ["John Travolta","Uma Thurman"]
},
{
"title" : "Inglorious Basterds",
"writer": "Quentin Tarantino",
"year" : 2009,
"actors" : ["Brad Pitt","Diane Kruger","Eli Roth"]
},
{
"title" : "The Hobbit: An Unexpected Journey",
"writer" : "J.R.R. Tolkien",
"year" : 2012,
"franchise" : "The Hobbit"
},
{
"title" : "The Hobbit: The Desolation of Smaug",
"writer" : "J.R.R. Tolkien",
"year" : 2013,
"franchise" : "The Hobbit"
},
{
"title" : "The Hobbit: The Battle of the Five Armies",
"writer" : "J.R.R. Tolkien",
"year" : 2012,
"franchise" : "The Hobbit",
"Synopsis": "Bilbo and Company are forced to engage in a war against an array of combatants and keep the Lonely Mountain from falling into the hands of a rising darkness."
},
{
"title" : "Pee Wee Herman's Big Adventure"
},
{
"title" : "Avatar"
}
])

## Performing proposed MongoDB queries

### Get all the documents

In [80]:
sentence = movies.find({})
dispQuery(sentence)

{'_id': ObjectId('648846c14186da8a68dcdf3d'), 'title': 'Fight Club', 'Writer': 'Chuck Palahniuk', 'actors': ['Brad Pitt', 'Edward Norton'], 'year': 1999}

{'_id': ObjectId('648846c14186da8a68dcdf3e'), 'title': 'Pulp Fiction', 'writer': 'Quentin Tarantino', 'year': 1994, 'actors': ['John Travolta', 'Uma Thurman']}

{'_id': ObjectId('648846c14186da8a68dcdf3f'), 'title': 'Inglorious Basterds', 'writer': 'Quentin Tarantino', 'year': 2009, 'actors': ['Brad Pitt', 'Diane Kruger', 'Eli Roth']}

{'_id': ObjectId('648846c14186da8a68dcdf40'), 'title': 'The Hobbit: An Unexpected Journey', 'writer': 'J.R.R. Tolkien', 'year': 2012, 'franchise': 'The Hobbit'}

{'_id': ObjectId('648846c14186da8a68dcdf41'), 'title': 'The Hobbit: The Desolation of Smaug', 'writer': 'J.R.R. Tolkien', 'year': 2013, 'franchise': 'The Hobbit'}

{'_id': ObjectId('648846c14186da8a68dcdf42'), 'title': 'The Hobbit: The Battle of the Five Armies', 'writer': 'J.R.R. Tolkien', 'year': 2012, 'franchise': 'The Hobbit', 'Synopsis': 'Bilbo and Company are forced to engage in a war against an array of combatants and keep the Lonely Mountain from falling into the hands of a rising darkness.'}

{'_id': ObjectId('648846c14186da8a68dcdf43'), 'title': "Pee Wee Herman's Big Adventure"}

{'_id': ObjectId('648846c14186da8a68dcdf44'), 'title': 'Avatar'}

### Get documents with `writer` equal to "Quentin Tarantino"

In [76]:
sentence = movies.find({"writer":"Quentin Tarantino"},{"_id":0})
dispQuery(sentence)

{'title': 'Pulp Fiction', 'writer': 'Quentin Tarantino', 'year': 1994, 'actors': ['John Travolta', 'Uma Thurman']}

{'title': 'Inglorious Basterds', 'writer': 'Quentin Tarantino', 'year': 2009, 'actors': ['Brad Pitt', 'Diane Kruger', 'Eli Roth']}

### Get documents with `actors` that include "Brad Pitt"

In [11]:
sentence= movies.find({"actors":"Brad Pitt"},{"_id":0})
dispQuery(sentence)

{'title': 'Fight Club', 'Writer': 'Chuck Palahniuk', 'actors': ['Brad Pitt', 'Edward Norton'], 'year': 1999}

{'title': 'Inglorious Basterds', 'writer': 'Quentin Tarantino', 'year': 2009, 'actors': ['Brad Pitt', 'Diane Kruger', 'Eli Roth']}

### Get documents with `franchise` equal to "The Hobbit"

In [12]:
sentence=movies.find({"franchise":"The Hobbit"},{"_id":0})
dispQuery(sentence)

{'title': 'The Hobbit: An Unexpected Journey', 'writer': 'J.R.R. Tolkien', 'year': 2012, 'franchise': 'The Hobbit', 'synopsis': 'A reluctant hobbit, Bilbo Baggins, sets out to the Lonely Mountain with a spirited group of dwarves to reclaim their mountain home - and the gold within it - from the dragon Smaug.'}

{'title': 'The Hobbit: The Desolation of Smaug', 'writer': 'J.R.R. Tolkien', 'year': 2013, 'franchise': 'The Hobbit', 'synopsis': 'The dwarves, along with Bilbo \nBaggins and Gandalf the Grey, continue their quest to reclaim Erebor, their homeland, from Smaug. \nBilbo Baggins is in possession of a mysterious and magical ring.'}

{'title': 'The Hobbit: The Battle of the Five Armies', 'writer': 'J.R.R. Tolkien', 'year': 2012, 'franchise': 'The Hobbit', 'Synopsis': 'Bilbo and Company are forced to engage in a war against an array of combatants and keep the Lonely Mountain from falling into the hands of a rising darkness.'}

### Get all the 90s movies

In [82]:
#Renaming the collection's field#
movies.update_one({"title": "Fight Club"}, {"$rename": {"Year":"year"}})
#Finding 90's movies#
sentence = movies.aggregate([
{"$match": 
{"$and":
[
	{"year": {"$gte": 1990}},
	{"year": {"$lt": 2000}}
]
}},
  {"$project": {"_id":0, "title":1, "year":1}}
])
dispQuery(sentence)

{'title': 'Fight Club', 'year': 1999}

{'title': 'Pulp Fiction', 'year': 1994}

### Obtain the films released between the year 2000 and 2010

In [83]:
sentence = movies.aggregate([
{"$match": 
{"$and":
[
	{"year": {"$gte": 2000}},
	{"year": {"$lte": 2010}}
]
}},
  {"$project": {"_id":0, "title":1, "year":1}}
])
dispQuery(sentence)

{'title': 'Inglorious Basterds', 'year': 2009}

### Update Documents 1
Add synopsis to "The Hobbit: An Unexpected Journey" : "A reluctant hobbit, Bilbo Baggins,
sets out to the Lonely Mountain with a spirited group of dwarves to reclaim their mountain
home - and the gold within it - from the dragon Smaug ."

In [86]:
movies.update_one({"title": "The Hobbit: An Unexpected Journey"},{"$set": {"synopsis": "A reluctant hobbit, Bilbo Baggins, sets out to the Lonely Mountain with a spirited group of dwarves to reclaim their mountain home - and the gold within it - from the dragon Smaug."}})
sentence = movies.find({"title":"The Hobbit: An Unexpected Journey"},{"_id":0})
dispQuery(sentence)

{'title': 'The Hobbit: An Unexpected Journey', 'writer': 'J.R.R. Tolkien', 'year': 2012, 'franchise': 'The Hobbit', 'synopsis': 'A reluctant hobbit, Bilbo Baggins, sets out to the Lonely Mountain with a spirited group of dwarves to reclaim their mountain home - and the gold within it - from the dragon Smaug.'}

### Update Documents 2
Add synopsis to "The Hobbit: The Desolation of Smaug" : "The dwarves, along with Bilbo
Baggins and Gandalf the Grey, continue their quest to reclaim Erebor, their homeland, from
Smaug. Bilbo Baggins is in possession of a mysterious and magical ring."

In [94]:
movies.update_one({"title": "The Hobbit: The Desolation of Smaug"},{"$set": {"synopsis": '''The dwarves, along with Bilbo Baggins and Gandalf the Grey, continue their quest to reclaim Erebor, their homeland, from Smaug. Bilbo Baggins is in possession of a mysterious and magical ring.'''}})
sentence = movies.find({"title": "The Hobbit: The Desolation of Smaug"},{"_id":0})
dispQuery(sentence)

{'title': 'The Hobbit: The Desolation of Smaug', 'writer': 'J.R.R. Tolkien', 'year': 2013, 'franchise': 'The Hobbit', 'synopsis': 'The dwarves, along with Bilbo \nBaggins and Gandalf the Grey, continue their quest to reclaim Erebor, their homeland, from Smaug. \nBilbo Baggins is in possession of a mysterious and magical ring.'}

### Update Documents 3
Adding an actor named "Samuel L. Jackson" to the movie "Pulp Fiction"

In [95]:
movies.update_one({"title": "Pulp Fiction"},{"$set": {"actors.2": "Samuel L. Jackson"}})
sentence= movies.find({"title": "Pulp Fiction"},{"_id":0})
dispQuery(sentence)

{'title': 'Pulp Fiction', 'writer': 'Quentin Tarantino', 'year': 1994, 'actors': ['John Travolta', 'Uma Thurman', 'Samuel L. Jackson']}

# Additional tasks
.
1.- Connecting Jupyter to MySQL

.
2.- MongoDB Data base analysis

This part of the notebook is intended to use csv files to extend the mongoDB data base and then develop a brief analysis report of the data, handling these csv files through local MySQL.

.
`!pip install mysqlclient`

In [1]:
import MySQLdb
conn = MySQLdb.connect(                       # The local connection to MySQL get established,       
    host="localhost",                         # the sql server must be active to connect successfully.  
    user="root",                              # The connection parameters may vary according with those setted when 
    password=""                               # the MySQL local server was created
    )

In [109]:
def create_sql (nombre_base_datos):
    '''Creates a database at MySql, by input the database arbitrary name'''
    cursor = conn.cursor()
    try:   
        cursor.execute(f"CREATE DATABASE {nombre_base_datos}")
        conn.commit()                                                    # The commit confirms the previous modification 
        print(f"Database '{nombre_base_datos}' has been created successfully.")

    except MySQLdb.Error as error:
        print(f"Cannot create the database: {error}")
    cursor.close()

In [98]:
def query_sql (sentence):
    '''Performs queries at MySql, by input the MySQL query sentence and returns the result of the query'''
    
    cursor = conn.cursor()                     # The cursor will act as the handler and will mediate betweem 
    query = cursor.execute(sentence)           # python and MySQL                             
    results = cursor.fetchall()
    cursor.close()                               
    return results

## Creation of a new data base
A new database created in local MySQL

In [121]:
nombre_base_datos = 'NoSQL_ProjectExt'                           
create_sql (nombre_base_datos)

Database 'NoSQL_ProjectExt' has been created successfully.

## Creation of new tables and importing data from CSV
To extend the `movies` mongo database, the movies, actors and directors will be created, and then joined into one single table, that will be exported as a JSON file and then will be merged with the mongo data base to be analysed through some mongo charts

In [122]:
# movies' table creation

query = f'''USE {nombre_base_datos};
CREATE TABLE movies(
    title varchar(255),
    released varchar (255),
    tagline varchar(255)
);'''
query_sql (query)

()

In [123]:
# movies' data filling by importing from a CSV
query = f'''LOAD DATA INFILE "C:/Users/34666/Master Data Scientist/Modulo III/NoSQL Individual Project/movies.csv"
INTO TABLE movies
FIELDS TERMINATED BY ","
IGNORE 1 ROWS; '''
query_sql (query)

()

In [124]:
# actors' table creation

query = f'''USE {nombre_base_datos};
CREATE TABLE actors(
    movie_title varchar(255),
    role varchar(255),
    name varchar (255),
    born varchar (255)
);'''
query_sql (query)

()

In [125]:
# actors' data filling by importing from a CSV
query = f'''LOAD DATA INFILE "C:/Users/34666/Master Data Scientist/Modulo III/NoSQL Individual Project/actors.csv"
INTO TABLE ACTORS
FIELDS TERMINATED BY ","
IGNORE 1 ROWS; '''
query_sql (query)

()

In [126]:
# actors' table creation

query = f'''USE {nombre_base_datos};
CREATE TABLE directors(
    movie_title varchar(255),
    name varchar(255),
    born varchar (255)
);'''
query_sql (query)

()

In [127]:
# directors' data filling by importing from a CSV
query = f'''LOAD DATA INFILE "C:/Users/34666/Master Data Scientist/Modulo III/NoSQL Individual Project/directors.csv"
INTO TABLE DIRECTORS
FIELDS TERMINATED BY ","
IGNORE 1 ROWS; '''
query_sql (query)

()

In [169]:
# SQL query consult
query = f"SELECT * FROM movies;"
result=query_sql(query)
for row in result:
    print(row)

("Something's Gotta Give", '1975', 'null\r')
('Johnny Mnemonic', '1995', 'The hottest data on earth. In the coolest head in town\r')
('The Replacements', '2000', '"Pain heals')
("The Devil's Advocate", '1997', 'Evil has its winning ways\r')
('The Matrix Revolutions', '2003', 'Everything that has a beginning has an end\r')
('The Matrix Reloaded', '2003', 'Free your mind\r')
('The Matrix', '1999', 'Welcome to the Real World\r')
('The Matrix Revolutions', '2003', 'Everything that has a beginning has an end\r')
('The Matrix Reloaded', '2003', 'Free your mind\r')
('The Matrix', '1999', 'Welcome to the Real World\r')
('The Matrix Revolutions', '2003', 'Everything that has a beginning has an end\r')
('The Matrix Reloaded', '2003', 'Free your mind\r')
('The Matrix', '1999', 'Welcome to the Real World\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('Cloud Atlas', '2012', 'Everything is connected\r')
('The Matrix Revolutions', '2003', 'Everything that has a beginning has an end\r')
('The Matrix Reloaded', '2003', 'Free your mind\r')
('The Matrix', '1999', 'Welcome to the Real World\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('Cloud Atlas', '2012', 'Everything is connected\r')
('The Matrix Revolutions', '2003', 'Everything that has a beginning has an end\r')
('The Matrix Reloaded', '2003', 'Free your mind\r')
('The Matrix', '1999', 'Welcome to the Real World\r')
('Ninja Assassin', '2009', 'Prepare to enter a secret world of assassins\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('Cloud Atlas', '2012', 'Everything is connected\r')
('The Matrix Revolutions', '2003', 'Everything that has a beginning has an end\r')
('The Matrix Reloaded', '2003', 'Free your mind\r')
('The Matrix', '1999', 'Welcome to the Real World\r')
('Ninja Assassin', '2009', 'Prepare to enter a secret world of assassins\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('Ninja Assassin', '2009', 'Prepare to enter a secret world of assassins\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('The Matrix Revolutions', '2003', 'Everything that has a beginning has an end\r')
('The Matrix Reloaded', '2003', 'Free your mind\r')
('The Matrix', '1999', 'Welcome to the Real World\r')
('The Matrix', '1999', 'Welcome to the Real World\r')
('That Thing You Do', '1996', 'In every life there comes a time when that thing you dream becomes that thing you do\r')
("The Devil's Advocate", '1997', 'Evil has its winning ways\r')
("The Devil's Advocate", '1997', 'Evil has its winning ways\r')
("The Devil's Advocate", '1997', 'Evil has its winning ways\r')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Top Gun', '1986', '"I feel the need')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
("Something's Gotta Give", '1975', 'null\r')
("One Flew Over the Cuckoo's Nest", '1975', '"If he\'s crazy')
('Hoffa', '1992', "He didn't want law. He wanted justice.\r")
('As Good as It Gets', '1997', 'A comedy from the heart that goes for the throat.\r')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('Apollo 13', '1995', '"Houston')
('Frost/Nixon', '2008', '400 million people were waiting for the truth.\r')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('Stand By Me', '1995', '"For some')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('What Dreams May Come', '1998', 'After life there is more. The end is just the beginning.\r')
('As Good as It Gets', '1997', 'A comedy from the heart that goes for the throat.\r')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('Hoffa', '1992', "He didn't want law. He wanted justice.\r")
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('Ninja Assassin', '2009', 'Prepare to enter a secret world of assassins\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('When Harry Met Sally', '1998', 'At odds in life... in love on-line.\r')
('Stand By Me', '1995', '"For some')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('When Harry Met Sally', '1998', 'At odds in life... in love on-line.\r')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('A Few Good Men', '1992', '"In the heart of the nation\'s capital')
('Top Gun', '1986', '"I feel the need')
('Top Gun', '1986', '"I feel the need')
('Top Gun', '1986', '"I feel the need')
('Top Gun', '1986', '"I feel the need')
('When Harry Met Sally', '1998', 'At odds in life... in love on-line.\r')
('Joe Versus the Volcano', '1990', '"A story of love')
('Sleepless in Seattle', '1993', '"What if someone you never met')
("You've Got Mail", '1998', 'At odds in life... in love on-line.\r')
('Top Gun', '1986', '"I feel the need')
('Top Gun', '1986', '"I feel the need')
('Top Gun', '1986', '"I feel the need')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Stand By Me', '1995', '"For some')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('The Green Mile', '1999', "Walk a mile you'll never forget.\r")
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Jerry Maguire', '2000', 'The rest of his life begins now.\r')
('Stand By Me', '1995', '"For some')
('Stand By Me', '1995', '"For some')
('Stand By Me', '1995', '"For some')
('Stand By Me', '1995', '"For some')
('RescueDawn', '2006', "Based on the extraordinary true story of one man's fight for freedom\r")
('Stand By Me', '1995', '"For some')
('Cast Away', '2000', '"At the edge of the world')
('Twister', '1996', "Don't Breathe. Don't Look Back.\r")
('As Good as It Gets', '1997', 'A comedy from the heart that goes for the throat.\r')
("You've Got Mail", '1998', 'At odds in life... in love on-line.\r')
('As Good as It Gets', '1997', 'A comedy from the heart that goes for the throat.\r')
('As Good as It Gets', '1997', 'A comedy from the heart that goes for the throat.\r')
('What Dreams May Come', '1998', 'After life there is more. The end is just the beginning.\r')
('Snow Falling on Cedars', '1999', 'First loves last. Forever.\r')
('What Dreams May Come', '1998', 'After life there is more. The end is just the beginning.\r')
('What Dreams May Come', '1998', 'After life there is more. The end is just the beginning.\r')
('RescueDawn', '2006', "Based on the extraordinary true story of one man's fight for freedom\r")
('Bicentennial Man', '1999', "One robot's 200 year journey to become an ordinary man.\r")
('The Birdcage', '1996', 'Come as you are\r')
('What Dreams May Come', '1998', 'After life there is more. The end is just the beginning.\r')
('What Dreams May Come', '1998', 'After life there is more. The end is just the beginning.\r')
('Snow Falling on Cedars', '1999', 'First loves last. Forever.\r')
('Ninja Assassin', '2009', 'Prepare to enter a secret world of assassins\r')
('Snow Falling on Cedars', '1999', 'First loves last. Forever.\r')
('The Green Mile', '1999', "Walk a mile you'll never forget.\r")
('Snow Falling on Cedars', '1999', 'First loves last. Forever.\r')
('Snow Falling on Cedars', '1999', 'First loves last. Forever.\r')
("You've Got Mail", '1998', 'At odds in life... in love on-line.\r')
("You've Got Mail", '1998', 'At odds in life... in love on-line.\r')
('RescueDawn', '2006', "Based on the extraordinary true story of one man's fight for freedom\r")
("You've Got Mail", '1998', 'At odds in life... in love on-line.\r')
('A League of Their Own', '1992', 'Once in a lifetime you get a chance to do something different.\r')
('The Polar Express', '2004', 'This Holiday Season… Believe\r')
("Charlie Wilson's War", '2007', "A stiff drink. A little mascara. A lot of nerve. Who said they couldn't bring down the Soviet empire.\r")
('Cast Away', '2000', '"At the edge of the world')
('Apollo 13', '1995', '"Houston')
('The Green Mile', '1999', "Walk a mile you'll never forget.\r")
('The Da Vinci Code', '2006', 'Break The Codes\r')
('Cloud Atlas', '2012', 'Everything is connected\r')
('That Thing You Do', '1996', 'In every life there comes a time when that thing you dream becomes that thing you do\r')
('Joe Versus the Volcano', '1990', '"A story of love')
('Sleepless in Seattle', '1993', '"What if someone you never met')
("You've Got Mail", '1998', 'At odds in life... in love on-line.\r')
('That Thing You Do', '1996', 'In every life there comes a time when that thing you dream becomes that thing you do\r')
('Sleepless in Seattle', '1993', '"What if someone you never met')
("You've Got Mail", '1998', 'At odds in life... in love on-line.\r')
('When Harry Met Sally', '1998', 'At odds in life... in love on-line.\r')
('When Harry Met Sally', '1998', 'At odds in life... in love on-line.\r')
('Sleepless in Seattle', '1993', '"What if someone you never met')
('Sleepless in Seattle', '1993', '"What if someone you never met')
('Sleepless in Seattle', '1993', '"What if someone you never met')
('A League of Their Own', '1992', 'Once in a lifetime you get a chance to do something different.\r')
('Sleepless in Seattle', '1993', '"What if someone you never met')
('Joe Versus the Volcano', '1990', '"A story of love')
('The Birdcage', '1996', 'Come as you are\r')
('Joe Versus the Volcano', '1990', '"A story of love')
('When Harry Met Sally', '1998', 'At odds in life... in love on-line.\r')
('When Harry Met Sally', '1998', 'At odds in life... in love on-line.\r')
('When Harry Met Sally', '1998', 'At odds in life... in love on-line.\r')
('That Thing You Do', '1996', 'In every life there comes a time when that thing you dream becomes that thing you do\r')
('The Replacements', '2000', '"Pain heals')
('Unforgiven', '1992', '"It\'s a hell of a thing')
('The Birdcage', '1996', 'Come as you are\r')
('The Replacements', '2000', '"Pain heals')
('The Replacements', '2000', '"Pain heals')
('The Replacements', '2000', '"Pain heals')
('RescueDawn', '2006', "Based on the extraordinary true story of one man's fight for freedom\r")
('Twister', '1996', "Don't Breathe. Don't Look Back.\r")
('RescueDawn', '2006', "Based on the extraordinary true story of one man's fight for freedom\r")
("Charlie Wilson's War", '2007', "A stiff drink. A little mascara. A lot of nerve. Who said they couldn't bring down the Soviet empire.\r")
('The Birdcage', '1996', 'Come as you are\r')
('Unforgiven', '1992', '"It\'s a hell of a thing')
('Unforgiven', '1992', '"It\'s a hell of a thing')
('Unforgiven', '1992', '"It\'s a hell of a thing')
('Johnny Mnemonic', '1995', 'The hottest data on earth. In the coolest head in town\r')
('Johnny Mnemonic', '1995', 'The hottest data on earth. In the coolest head in town\r')
('Johnny Mnemonic', '1995', 'The hottest data on earth. In the coolest head in town\r')
('Johnny Mnemonic', '1995', 'The hottest data on earth. In the coolest head in town\r')
('Cloud Atlas', '2012', 'Everything is connected\r')
('Cloud Atlas', '2012', 'Everything is connected\r')
('Cloud Atlas', '2012', 'Everything is connected\r')
('The Da Vinci Code', '2006', 'Break The Codes\r')
('The Da Vinci Code', '2006', 'Break The Codes\r')
('The Da Vinci Code', '2006', 'Break The Codes\r')
('Apollo 13', '1995', '"Houston')
('Frost/Nixon', '2008', '400 million people were waiting for the truth.\r')
('The Da Vinci Code', '2006', 'Break The Codes\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('Ninja Assassin', '2009', 'Prepare to enter a secret world of assassins\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('V for Vendetta', '2006', 'Freedom! Forever!\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('Ninja Assassin', '2009', 'Prepare to enter a secret world of assassins\r')
('Speed Racer', '2008', 'Speed has no limits\r')
('Ninja Assassin', '2009', 'Prepare to enter a secret world of assassins\r')
('The Green Mile', '1999', "Walk a mile you'll never forget.\r")
('The Green Mile', '1999', "Walk a mile you'll never forget.\r")
('Frost/Nixon', '2008', '400 million people were waiting for the truth.\r')
('The Green Mile', '1999', "Walk a mile you'll never forget.\r")
('Apollo 13', '1995', '"Houston')
('The Green Mile', '1999', "Walk a mile you'll never forget.\r")
('The Green Mile', '1999', "Walk a mile you'll never forget.\r")
('The Green Mile', '1999', "Walk a mile you'll never forget.\r")
('Frost/Nixon', '2008', '400 million people were waiting for the truth.\r')
('Frost/Nixon', '2008', '400 million people were waiting for the truth.\r')
('Bicentennial Man', '1999', "One robot's 200 year journey to become an ordinary man.\r")
('Frost/Nixon', '2008', '400 million people were waiting for the truth.\r')
("One Flew Over the Cuckoo's Nest", '1975', '"If he\'s crazy')
('Hoffa', '1992', "He didn't want law. He wanted justice.\r")
('Hoffa', '1992', "He didn't want law. He wanted justice.\r")
('Hoffa', '1992', "He didn't want law. He wanted justice.\r")
('Apollo 13', '1995', '"Houston')
('A League of Their Own', '1992', 'Once in a lifetime you get a chance to do something different.\r')
('Twister', '1996', "Don't Breathe. Don't Look Back.\r")
('Apollo 13', '1995', '"Houston')
("Charlie Wilson's War", '2007', "A stiff drink. A little mascara. A lot of nerve. Who said they couldn't bring down the Soviet empire.\r")
('Twister', '1996', "Don't Breathe. Don't Look Back.\r")
('Twister', '1996', "Don't Breathe. Don't Look Back.\r")
('The Polar Express', '2004', 'This Holiday Season… Believe\r')
('Cast Away', '2000', '"At the edge of the world')
("One Flew Over the Cuckoo's Nest", '1975', '"If he\'s crazy')
("Something's Gotta Give", '1975', 'null\r')
("Something's Gotta Give", '1975', 'null\r')
("Something's Gotta Give", '1975', 'null\r')
("Something's Gotta Give", '1975', 'null\r')
('Bicentennial Man', '1999', "One robot's 200 year journey to become an ordinary man.\r")
("Charlie Wilson's War", '2007', "A stiff drink. A little mascara. A lot of nerve. Who said they couldn't bring down the Soviet empire.\r")
('A League of Their Own', '1992', 'Once in a lifetime you get a chance to do something different.\r')
('A League of Their Own', '1992', 'Once in a lifetime you get a chance to do something different.\r')
('A League of Their Own', '1992', 'Once in a lifetime you get a chance to do something different.\r')
('A League of Their Own', '1992', 'Once in a lifetime you get a chance to do something different.\r')
('The Replacements', '2000', '"Pain heals')
('The Da Vinci Code', '2006', 'Break The Codes\r')
('The Birdcage', '1996', 'Come as you are\r')
('Unforgiven', '1992', '"It\'s a hell of a thing')
('The Replacements', '2000', '"Pain heals')
('Cloud Atlas', '2012', 'Everything is connected\r')
('The Da Vinci Code', '2006', 'Break The Codes\r')
('The Replacements', '2000', '"Pain heals')

## Dropping duplicate rows and joining tables by common movies
Due that mySQL doesn't allow to export directly a table to a json file, it will be exported at first to a csv file, then it will be loaded as a pandas dataframe and finally, it will be exported as a Json file

In [150]:
# At first, three subqueries will return distincts rows from every table, then an inner join between these three.
query = f'''WITH MOVIES AS (SELECT DISTINCT * FROM MOVIES),
ACTORS AS (SELECT DISTINCT * FROM ACTORS),
DIRECTORS AS (SELECT DISTINCT * FROM DIRECTORS)
SELECT MOVIES.TITLE,MOVIES.RELEASED, ACTORS.ROLE,ACTORS.NAME AS ACTOR,DIRECTORS.NAME AS DIRECTOR FROM MOVIES 
INNER JOIN ACTORS ON MOVIES.TITLE = ACTORS.movie_title 
INNER JOIN DIRECTORS ON ACTORS.movie_title = DIRECTORS.movie_title 
INTO OUTFILE 'MOVIES_EXPORT.csv';
'''         #The CSV resulting file will be exported to the same path than the project folder 
result=query_sql(query)

In [162]:
import pandas as pd                                           #Creating the pandas Data frame

df=pd.read_csv("C:/xampp/mysql/data/nosql_projectext/MOVIES_EXPORT.csv", sep="\t",encoding='utf-8', names= ["Title","released","Role","Actor","Director"])
df

,Title,released,Role,Actor,Director
0,Something's Gotta Give,1975,Julian Mercer,Keanu Reeves,Nancy Meyers
1,Something's Gotta Give,1975,Harry Sanborn,Jack Nicholson,Nancy Meyers
2,Something's Gotta Give,1975,Erica Barry,Diane Keaton,Nancy Meyers
3,Johnny Mnemonic,1995,Johnny Mnemonic,Keanu Reeves,Robert Longo
4,Johnny Mnemonic,1995,Takahashi,Takeshi Kitano,Robert Longo
...,...,...,...,...,...
195,The Da Vinci Code,2006,Sophie Neveu,Audrey Tautou,Ron Howard
196,The Da Vinci Code,2006,Silas,Paul Bettany,Ron Howard
197,Unforgiven,1992,Little Bill Daggett,Gene Hackman,Clint Eastwood
198,Unforgiven,1992,English Bob,Richard Harris,Clint Eastwood
199,Unforgiven,1992,Bill Munny,Clint Eastwood,Clint Eastwood

In [168]:
df.to_json("movies_export.json", orient= "records")           #Exporting the dataframe to a json file

## Loading the movies_export.json file to mongoDB ATLAS server

## Creating the database

A new database is created in a mongoDB Atlas cluster to use the MongoDB Charts utility, as the previous case, we need to declare a client with the cluster URL, user and password

In [224]:
client = MongoClient('mongodb+srv://jmsanchezd91:4rYvn1gaptEcrXVG@cluster0.jtsy1tw.mongodb.net/')
db = client["project_extension"]
movies = db["movies"]

C:\Users\34666\anaconda3\lib\site-packages\cryptography\x509\base.py:521: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_der_x509_certificate(data)

Once created the collection in the data base, we start the document's feeding using  first the same database used on the proposed exercises and the one contained in the recently exported json file ``movies_export.json``

In [225]:
movies.insert_many([
{
"title" : "Fight Club",
"Writer": "Chuck Palahniuk",
"Year": 1999,
"actors": ["Brad Pitt","Edward Norton"]
},
{
"title": "Pulp Fiction",
"writer": "Quentin Tarantino",
"year" : 1994,
"actors" : ["John Travolta","Uma Thurman"]
},
{
"title" : "Inglorious Basterds",
"writer": "Quentin Tarantino",
"year" : 2009,
"actors" : ["Brad Pitt","Diane Kruger","Eli Roth"]
},
{
"title" : "The Hobbit: An Unexpected Journey",
"writer" : "J.R.R. Tolkien",
"year" : 2012,
"franchise" : "The Hobbit"
},
{
"title" : "The Hobbit: The Desolation of Smaug",
"writer" : "J.R.R. Tolkien",
"year" : 2013,
"franchise" : "The Hobbit"
},
{
"title" : "The Hobbit: The Battle of the Five Armies",
"writer" : "J.R.R. Tolkien",
"year" : 2012,
"franchise" : "The Hobbit",
"Synopsis": "Bilbo and Company are forced to engage in a war against an array of combatants and keep the Lonely Mountain from falling into the hands of a rising darkness."
},
{
"title" : "Pee Wee Herman's Big Adventure"
},
{
"title" : "Avatar"
}
])

In [195]:
import json
f1= open("C:/Users/34666/Master Data Scientist/Modulo III/NoSQL Individual Project/movies_export.json","r", encoding='utf-8')
myDict = json.load(f1)
f1.close()
# for i in myDict:
#     print(i)
print(myDict)

[{'Title': "Something's Gotta Give", 'released': 1975, 'Role': 'Julian Mercer', 'Actor': 'Keanu Reeves', 'Director': 'Nancy Meyers'}, {'Title': "Something's Gotta Give", 'released': 1975, 'Role': 'Harry Sanborn', 'Actor': 'Jack Nicholson', 'Director': 'Nancy Meyers'}, {'Title': "Something's Gotta Give", 'released': 1975, 'Role': 'Erica Barry', 'Actor': 'Diane Keaton', 'Director': 'Nancy Meyers'}, {'Title': 'Johnny Mnemonic', 'released': 1995, 'Role': 'Johnny Mnemonic', 'Actor': 'Keanu Reeves', 'Director': 'Robert Longo'}, {'Title': 'Johnny Mnemonic', 'released': 1995, 'Role': 'Takahashi', 'Actor': 'Takeshi Kitano', 'Director': 'Robert Longo'}, {'Title': 'Johnny Mnemonic', 'released': 1995, 'Role': 'Jane', 'Actor': 'Dina Meyer', 'Director': 'Robert Longo'}, {'Title': 'Johnny Mnemonic', 'released': 1995, 'Role': 'J-Bone', 'Actor': 'Ice-T', 'Director': 'Robert Longo'}, {'Title': 'The Replacements', 'released': 2000, 'Role': 'Shane Falco', 'Actor': 'Keanu Reeves', 'Director': 'Howard Deutch'}, {'Title': 'The Replacements', 'released': 2000, 'Role': 'Annabelle Farrell', 'Actor': 'Brooke Langton', 'Director': 'Howard Deutch'}, {'Title': 'The Replacements', 'released': 2000, 'Role': 'Jimmy McGinty', 'Actor': 'Gene Hackman', 'Director': 'Howard Deutch'}, {'Title': 'The Replacements', 'released': 2000, 'Role': 'Clifford Franklin', 'Actor': 'Orlando Jones', 'Director': 'Howard Deutch'}, {'Title': "The Devil's Advocate", 'released': 1997, 'Role': 'Kevin Lomax', 'Actor': 'Keanu Reeves', 'Director': 'Taylor Hackford'}, {'Title': "The Devil's Advocate", 'released': 1997, 'Role': 'Mary Ann Lomax', 'Actor': 'Charlize Theron', 'Director': 'Taylor Hackford'}, {'Title': "The Devil's Advocate", 'released': 1997, 'Role': 'John Milton', 'Actor': 'Al Pacino', 'Director': 'Taylor Hackford'}, {'Title': 'The Matrix Revolutions', 'released': 2003, 'Role': 'Neo', 'Actor': 'Keanu Reeves', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix Revolutions', 'released': 2003, 'Role': 'Neo', 'Actor': 'Keanu Reeves', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix Revolutions', 'released': 2003, 'Role': 'Trinity', 'Actor': 'Carrie-Anne Moss', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix Revolutions', 'released': 2003, 'Role': 'Trinity', 'Actor': 'Carrie-Anne Moss', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix Revolutions', 'released': 2003, 'Role': 'Morpheus', 'Actor': 'Laurence Fishburne', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix Revolutions', 'released': 2003, 'Role': 'Morpheus', 'Actor': 'Laurence Fishburne', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix Revolutions', 'released': 2003, 'Role': 'Agent Smith', 'Actor': 'Hugo Weaving', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix Revolutions', 'released': 2003, 'Role': 'Agent Smith', 'Actor': 'Hugo Weaving', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix Reloaded', 'released': 2003, 'Role': 'Neo', 'Actor': 'Keanu Reeves', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix Reloaded', 'released': 2003, 'Role': 'Neo', 'Actor': 'Keanu Reeves', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix Reloaded', 'released': 2003, 'Role': 'Trinity', 'Actor': 'Carrie-Anne Moss', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix Reloaded', 'released': 2003, 'Role': 'Trinity', 'Actor': 'Carrie-Anne Moss', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix Reloaded', 'released': 2003, 'Role': 'Morpheus', 'Actor': 'Laurence Fishburne', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix Reloaded', 'released': 2003, 'Role': 'Morpheus', 'Actor': 'Laurence Fishburne', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix Reloaded', 'released': 2003, 'Role': 'Agent Smith', 'Actor': 'Hugo Weaving', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix Reloaded', 'released': 2003, 'Role': 'Agent Smith', 'Actor': 'Hugo Weaving', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Neo', 'Actor': 'Keanu Reeves', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Neo', 'Actor': 'Keanu Reeves', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Trinity', 'Actor': 'Carrie-Anne Moss', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Trinity', 'Actor': 'Carrie-Anne Moss', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Morpheus', 'Actor': 'Laurence Fishburne', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Morpheus', 'Actor': 'Laurence Fishburne', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Agent Smith', 'Actor': 'Hugo Weaving', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Agent Smith', 'Actor': 'Hugo Weaving', 'Director': 'Lana Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Emil', 'Actor': 'Emil Eifrem', 'Director': 'Andy Wachowski'}, {'Title': 'The Matrix', 'released': 1999, 'Role': 'Emil', 'Actor': 'Emil Eifrem', 'Director': 'Lana Wachowski'}, {'Title': 'V for Vendetta', 'released': 2006, 'Role': 'V', 'Actor': 'Hugo Weaving', 'Director': 'James Marshall'}, {'Title': 'V for Vendetta', 'released': 2006, 'Role': 'Evey Hammond', 'Actor': 'Natalie Portman', 'Director': 'James Marshall'}, {'Title': 'V for Vendetta', 'released': 2006, 'Role': 'Eric Finch', 'Actor': 'Stephen Rea', 'Director': 'James Marshall'}, {'Title': 'V for Vendetta', 'released': 2006, 'Role': 'High Chancellor Adam Sutler', 'Actor': 'John Hurt', 'Director': 'James Marshall'}, {'Title': 'V for Vendetta', 'released': 2006, 'Role': 'Dascomb', 'Actor': 'Ben Miles', 'Director': 'James Marshall'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Bill Smoke;Haskell Moore;Tadeusz Kesselring;Nurse Noakes;Boardman Mephi;Old Georgie', 'Actor': 'Hugo Weaving', 'Director': 'Andy Wachowski'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Bill Smoke;Haskell Moore;Tadeusz Kesselring;Nurse Noakes;Boardman Mephi;Old Georgie', 'Actor': 'Hugo Weaving', 'Director': 'Lana Wachowski'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Bill Smoke;Haskell Moore;Tadeusz Kesselring;Nurse Noakes;Boardman Mephi;Old Georgie', 'Actor': 'Hugo Weaving', 'Director': 'Tom Tykwer'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Zachry;Dr. Henry Goose;Isaac Sachs;Dermot Hoggins', 'Actor': 'Tom Hanks', 'Director': 'Andy Wachowski'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Zachry;Dr. Henry Goose;Isaac Sachs;Dermot Hoggins', 'Actor': 'Tom Hanks', 'Director': 'Lana Wachowski'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Zachry;Dr. Henry Goose;Isaac Sachs;Dermot Hoggins', 'Actor': 'Tom Hanks', 'Director': 'Tom Tykwer'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Luisa Rey;Jocasta Ayrs;Ovid;Meronym', 'Actor': 'Halle Berry', 'Director': 'Andy Wachowski'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Luisa Rey;Jocasta Ayrs;Ovid;Meronym', 'Actor': 'Halle Berry', 'Director': 'Lana Wachowski'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Luisa Rey;Jocasta Ayrs;Ovid;Meronym', 'Actor': 'Halle Berry', 'Director': 'Tom Tykwer'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Vyvyan Ayrs;Captain Molyneux;Timothy Cavendish', 'Actor': 'Jim Broadbent', 'Director': 'Andy Wachowski'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Vyvyan Ayrs;Captain Molyneux;Timothy Cavendish', 'Actor': 'Jim Broadbent', 'Director': 'Lana Wachowski'}, {'Title': 'Cloud Atlas', 'released': 2012, 'Role': 'Vyvyan Ayrs;Captain Molyneux;Timothy Cavendish', 'Actor': 'Jim Broadbent', 'Director': 'Tom Tykwer'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Cass Jones', 'Actor': 'Ben Miles', 'Director': 'Andy Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Cass Jones', 'Actor': 'Ben Miles', 'Director': 'Lana Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Speed Racer', 'Actor': 'Emile Hirsch', 'Director': 'Andy Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Speed Racer', 'Actor': 'Emile Hirsch', 'Director': 'Lana Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Pops', 'Actor': 'John Goodman', 'Director': 'Andy Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Pops', 'Actor': 'John Goodman', 'Director': 'Lana Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Mom', 'Actor': 'Susan Sarandon', 'Director': 'Andy Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Mom', 'Actor': 'Susan Sarandon', 'Director': 'Lana Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Racer X', 'Actor': 'Matthew Fox', 'Director': 'Andy Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Racer X', 'Actor': 'Matthew Fox', 'Director': 'Lana Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Trixie', 'Actor': 'Christina Ricci', 'Director': 'Andy Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Trixie', 'Actor': 'Christina Ricci', 'Director': 'Lana Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Taejo Togokahn', 'Actor': 'Rain', 'Director': 'Andy Wachowski'}, {'Title': 'Speed Racer', 'released': 2008, 'Role': 'Taejo Togokahn', 'Actor': 'Rain', 'Director': 'Lana Wachowski'}, {'Title': 'Ninja Assassin', 'released': 2009, 'Role': 'Takeshi', 'Actor': 'Rick Yune', 'Director': 'James Marshall'}, {'Title': 'Ninja Assassin', 'released': 2009, 'Role': 'Ryan Maslow', 'Actor': 'Ben Miles', 'Director': 'James Marshall'}, {'Title': 'Ninja Assassin', 'released': 2009, 'Role': 'Raizo', 'Actor': 'Rain', 'Director': 'James Marshall'}, {'Title': 'Ninja Assassin', 'released': 2009, 'Role': 'Mika Coretti', 'Actor': 'Naomie Harris', 'Director': 'James Marshall'}, {'Title': 'That Thing You Do', 'released': 1996, 'Role': 'Tina', 'Actor': 'Charlize Theron', 'Director': 'Tom Hanks'}, {'Title': 'That Thing You Do', 'released': 1996, 'Role': 'Mr. White', 'Actor': 'Tom Hanks', 'Director': 'Tom Hanks'}, {'Title': 'That Thing You Do', 'released': 1996, 'Role': 'Faye Dolan', 'Actor': 'Liv Tyler', 'Director': 'Tom Hanks'}, {'Title': 'Jerry Maguire', 'released': 2000, 'Role': 'Jerry Maguire', 'Actor': 'Tom Cruise', 'Director': 'Cameron Crowe'}, {'Title': 'Jerry Maguire', 'released': 2000, 'Role': 'Rod Tidwell', 'Actor': 'Cuba Gooding Jr.', 'Director': 'Cameron Crowe'}, {'Title': 'Jerry Maguire', 'released': 2000, 'Role': 'Dorothy Boyd', 'Actor': 'Renee Zellweger', 'Director': 'Cameron Crowe'}, {'Title': 'Jerry Maguire', 'released': 2000, 'Role': 'Avery Bishop', 'Actor': 'Kelly Preston', 'Director': 'Cameron Crowe'}, {'Title': 'Jerry Maguire', 'released': 2000, 'Role': 'Frank Cushman', 'Actor': "Jerry O'Connell", 'Director': 'Cameron Crowe'}, {'Title': 'Jerry Maguire', 'released': 2000, 'Role': 'Bob Sugar', 'Actor': 'Jay Mohr', 'Director': 'Cameron Crowe'}, {'Title': 'Jerry Maguire', 'released': 2000, 'Role': 'Laurel Boyd', 'Actor': 'Bonnie Hunt', 'Director': 'Cameron Crowe'}, {'Title': 'Jerry Maguire', 'released': 2000, 'Role': 'Marcee Tidwell', 'Actor': 'Regina King', 'Director': 'Cameron Crowe'}, {'Title': 'Jerry Maguire', 'released': 2000, 'Role': 'Ray Boyd', 'Actor': 'Jonathan Lipnicki', 'Director': 'Cameron Crowe'}, {'Title': 'Top Gun', 'released': 1986, 'Role': 'Maverick', 'Actor': 'Tom Cruise', 'Director': 'Tony Scott'}, {'Title': 'Top Gun', 'released': 1986, 'Role': 'Charlie', 'Actor': 'Kelly McGillis', 'Director': 'Tony Scott'}, {'Title': 'Top Gun', 'released': 1986, 'Role': 'Iceman', 'Actor': 'Val Kilmer', 'Director': 'Tony Scott'}, {'Title': 'Top Gun', 'released': 1986, 'Role': 'Goose', 'Actor': 'Anthony Edwards', 'Director': 'Tony Scott'}, {'Title': 'Top Gun', 'released': 1986, 'Role': 'Viper', 'Actor': 'Tom Skerritt', 'Director': 'Tony Scott'}, {'Title': 'Top Gun', 'released': 1986, 'Role': 'Carole', 'Actor': 'Meg Ryan', 'Director': 'Tony Scott'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Lt. Daniel Kaffee', 'Actor': 'Tom Cruise', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Col. Nathan R. Jessup', 'Actor': 'Jack Nicholson', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Lt. Cdr. JoAnne Galloway', 'Actor': 'Demi Moore', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Capt. Jack Ross', 'Actor': 'Kevin Bacon', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Lt. Jonathan Kendrick', 'Actor': 'Kiefer Sutherland', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Cpl. Jeffrey Barnes', 'Actor': 'Noah Wyle', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Cpl. Carl Hammaker', 'Actor': 'Cuba Gooding Jr.', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Lt. Sam Weinberg', 'Actor': 'Kevin Pollak', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Lt. Col. Matthew Andrew Markinson', 'Actor': 'J.T. Walsh', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Pfc. Louden Downey', 'Actor': 'James Marshall', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Dr. Stone', 'Actor': 'Christopher Guest', 'Director': 'Rob Reiner'}, {'Title': 'A Few Good Men', 'released': 1992, 'Role': 'Man in Bar', 'Actor': 'Aaron Sorkin', 'Director': 'Rob Reiner'}, {'Title': "One Flew Over the Cuckoo's Nest", 'released': 1975, 'Role': 'Randle McMurphy', 'Actor': 'Jack Nicholson', 'Director': 'Milos Forman'}, {'Title': "One Flew Over the Cuckoo's Nest", 'released': 1975, 'Role': 'Martini', 'Actor': 'Danny DeVito', 'Director': 'Milos Forman'}, {'Title': 'Hoffa', 'released': 1992, 'Role': 'Hoffa', 'Actor': 'Jack Nicholson', 'Director': 'Danny DeVito'}, {'Title': 'Hoffa', 'released': 1992, 'Role': 'Frank Fitzsimmons', 'Actor': 'J.T. Walsh', 'Director': 'Danny DeVito'}, {'Title': 'Hoffa', 'released': 1992, 'Role': "Robert 'Bobby' Ciaro", 'Actor': 'Danny DeVito', 'Director': 'Danny DeVito'}, {'Title': 'Hoffa', 'released': 1992, 'Role': "Peter 'Pete' Connelly", 'Actor': 'John C. Reilly', 'Director': 'Danny DeVito'}, {'Title': 'As Good as It Gets', 'released': 1997, 'Role': 'Melvin Udall', 'Actor': 'Jack Nicholson', 'Director': 'James L. Brooks'}, {'Title': 'As Good as It Gets', 'released': 1997, 'Role': 'Frank Sachs', 'Actor': 'Cuba Gooding Jr.', 'Director': 'James L. Brooks'}, {'Title': 'As Good as It Gets', 'released': 1997, 'Role': 'Carol Connelly', 'Actor': 'Helen Hunt', 'Director': 'James L. Brooks'}, {'Title': 'As Good as It Gets', 'released': 1997, 'Role': 'Simon Bishop', 'Actor': 'Greg Kinnear', 'Director': 'James L. Brooks'}, {'Title': 'Apollo 13', 'released': 1995, 'Role': 'Jack Swigert', 'Actor': 'Kevin Bacon', 'Director': 'Ron Howard'}, {'Title': 'Apollo 13', 'released': 1995, 'Role': 'Jim Lovell', 'Actor': 'Tom Hanks', 'Director': 'Ron Howard'}, {'Title': 'Apollo 13', 'released': 1995, 'Role': 'Ken Mattingly', 'Actor': 'Gary Sinise', 'Director': 'Ron Howard'}, {'Title': 'Apollo 13', 'released': 1995, 'Role': 'Gene Kranz', 'Actor': 'Ed Harris', 'Director': 'Ron Howard'}, {'Title': 'Apollo 13', 'released': 1995, 'Role': 'Fred Haise', 'Actor': 'Bill Paxton', 'Director': 'Ron Howard'}, {'Title': 'Frost/Nixon', 'released': 2008, 'Role': 'Jack Brennan', 'Actor': 'Kevin Bacon', 'Director': 'Ron Howard'}, {'Title': 'Frost/Nixon', 'released': 2008, 'Role': 'James Reston', 'Actor': ' Jr.', 'Director': 'Ron Howard'}, {'Title': 'Frost/Nixon', 'released': 2008, 'Role': 'Richard Nixon', 'Actor': 'Frank Langella', 'Director': 'Ron Howard'}, {'Title': 'Frost/Nixon', 'released': 2008, 'Role': 'David Frost', 'Actor': 'Michael Sheen', 'Director': 'Ron Howard'}, {'Title': 'Frost/Nixon', 'released': 2008, 'Role': 'Bob Zelnick', 'Actor': 'Oliver Platt', 'Director': 'Ron Howard'}, {'Title': 'Stand By Me', 'released': 1995, 'Role': 'Ace Merrill', 'Actor': 'Kiefer Sutherland', 'Director': 'Rob Reiner'}, {'Title': 'Stand By Me', 'released': 1995, 'Role': 'Vern Tessio', 'Actor': "Jerry O'Connell", 'Director': 'Rob Reiner'}, {'Title': 'Stand By Me', 'released': 1995, 'Role': 'Chris Chambers', 'Actor': 'River Phoenix', 'Director': 'Rob Reiner'}, {'Title': 'Stand By Me', 'released': 1995, 'Role': 'Teddy Duchamp', 'Actor': 'Corey Feldman', 'Director': 'Rob Reiner'}, {'Title': 'Stand By Me', 'released': 1995, 'Role': 'Gordie Lachance', 'Actor': 'Wil Wheaton', 'Director': 'Rob Reiner'}, {'Title': 'Stand By Me', 'released': 1995, 'Role': 'Denny Lachance', 'Actor': 'John Cusack', 'Director': 'Rob Reiner'}, {'Title': 'Stand By Me', 'released': 1995, 'Role': 'Mr. Lachance', 'Actor': 'Marshall Bell', 'Director': 'Rob Reiner'}, {'Title': 'What Dreams May Come', 'released': 1998, 'Role': 'Albert Lewis', 'Actor': 'Cuba Gooding Jr.', 'Director': 'Vincent Ward'}, {'Title': 'What Dreams May Come', 'released': 1998, 'Role': 'Simon Bishop', 'Actor': 'Annabella Sciorra', 'Director': 'Vincent Ward'}, {'Title': 'What Dreams May Come', 'released': 1998, 'Role': 'The Tracker', 'Actor': 'Max von Sydow', 'Director': 'Vincent Ward'}, {'Title': 'What Dreams May Come', 'released': 1998, 'Role': 'The Face', 'Actor': 'Werner Herzog', 'Director': 'Vincent Ward'}, {'Title': 'What Dreams May Come', 'released': 1998, 'Role': 'Chris Nielsen', 'Actor': 'Robin Williams', 'Director': 'Vincent Ward'}, {'Title': 'When Harry Met Sally', 'released': 1998, 'Role': 'Sally Albright', 'Actor': 'Meg Ryan', 'Director': 'Rob Reiner'}, {'Title': 'When Harry Met Sally', 'released': 1998, 'Role': 'Harry Burns', 'Actor': 'Billy Crystal', 'Director': 'Rob Reiner'}, {'Title': 'When Harry Met Sally', 'released': 1998, 'Role': 'Marie', 'Actor': 'Carrie Fisher', 'Director': 'Rob Reiner'}, {'Title': 'When Harry Met Sally', 'released': 1998, 'Role': 'Jess', 'Actor': 'Bruno Kirby', 'Director': 'Rob Reiner'}, {'Title': 'Joe Versus the Volcano', 'released': 1990, 'Role': 'DeDe;Angelica Graynamore;Patricia Graynamore', 'Actor': 'Meg Ryan', 'Director': 'John Patrick Stanley'}, {'Title': 'Joe Versus the Volcano', 'released': 1990, 'Role': 'Joe Banks', 'Actor': 'Tom Hanks', 'Director': 'John Patrick Stanley'}, {'Title': 'Joe Versus the Volcano', 'released': 1990, 'Role': 'Baw', 'Actor': 'Nathan Lane', 'Director': 'John Patrick Stanley'}, {'Title': 'Sleepless in Seattle', 'released': 1993, 'Role': 'Annie Reed', 'Actor': 'Meg Ryan', 'Director': 'Nora Ephron'}, {'Title': 'Sleepless in Seattle', 'released': 1993, 'Role': 'Sam Baldwin', 'Actor': 'Tom Hanks', 'Director': 'Nora Ephron'}, {'Title': 'Sleepless in Seattle', 'released': 1993, 'Role': 'Suzy', 'Actor': 'Rita Wilson', 'Director': 'Nora Ephron'}, {'Title': 'Sleepless in Seattle', 'released': 1993, 'Role': 'Walter', 'Actor': 'Bill Pullman', 'Director': 'Nora Ephron'}, {'Title': 'Sleepless in Seattle', 'released': 1993, 'Role': 'Greg', 'Actor': 'Victor Garber', 'Director': 'Nora Ephron'}, {'Title': 'Sleepless in Seattle', 'released': 1993, 'Role': 'Becky', 'Actor': "Rosie O'Donnell", 'Director': 'Nora Ephron'}, {'Title': "You've Got Mail", 'released': 1998, 'Role': 'Kathleen Kelly', 'Actor': 'Meg Ryan', 'Director': 'Nora Ephron'}, {'Title': "You've Got Mail", 'released': 1998, 'Role': 'Frank Navasky', 'Actor': 'Greg Kinnear', 'Director': 'Nora Ephron'}, {'Title': "You've Got Mail", 'released': 1998, 'Role': 'Patricia Eden', 'Actor': 'Parker Posey', 'Director': 'Nora Ephron'}, {'Title': "You've Got Mail", 'released': 1998, 'Role': 'Kevin Jackson', 'Actor': 'Dave Chappelle', 'Director': 'Nora Ephron'}, {'Title': "You've Got Mail", 'released': 1998, 'Role': 'George Pappas', 'Actor': 'Steve Zahn', 'Director': 'Nora Ephron'}, {'Title': "You've Got Mail", 'released': 1998, 'Role': 'Joe Fox', 'Actor': 'Tom Hanks', 'Director': 'Nora Ephron'}, {'Title': 'The Green Mile', 'released': 1999, 'Role': 'Jan Edgecomb', 'Actor': 'Bonnie Hunt', 'Director': 'Frank Darabont'}, {'Title': 'The Green Mile', 'released': 1999, 'Role': 'Warden Hal Moores', 'Ac

In [226]:
movies.insert_many(myDict)

## Displaying data through mongo charts

After the successful data load, we get the issue (as in the previous case) of some fields containing the same kind of information but with different field names, so it must be renamed to be correctly handled on the next queries

In [228]:
movies.update_many( {}, { "$rename": { "actors": "Actor", "title":"Title", "released":"year" } })

Once the collection has gotten completely prepared, through the mongoDB Charts utilities the following information is displayed:

(to improve the visualization experience and provide more interactivity, follow the link:

https://charts.mongodb.com/charts-project-0-xhjqj/public/dashboards/2d3225a4-53f1-4753-917a-2f998533ad04)

<img width=200 style="float: left;" src="Imagenes/Total entries on data base.png">,
<img width=250 style="float: center;" src="Imagenes/Different directors founded in records.png">,
<img width=400 style="float: center;" src="Imagenes/Null values on Directors field.png">,
<img width=300 style="float: left;" src="Imagenes/Null values on released years field.png">

In total we got 208 entries successfully loaded to our collection, with the following fields:

- Internal MongoDB ID
- Movie title
- Year released
- Role name and the actor who interpreted
- Director
- Writer
- Franchise


In which we find that the movie title has no null values, and group some rows with the same info and just some fields changing, so it could act as a pseudo-ID.

Additionally we got that the field `Directors` has 28 different values in the whole entries and a minor proportion some null values, so it could work to label, categorize or group the documents

Also the field year showed a minor proportion of null values, that make them could work to group fields.

<img width=250 style="float: left;" src="Imagenes/Distincts movie titles founded on dataset.png">,


<img width=750 src="Imagenes/Multiplied titles due to exportation issues.png">

Is to note that the Movie titles field has 46 different unique values on the whole collection, this is due that on the SQL exportation way (from where the data is provided), each field had a single value, so if we have many actors (as usually happens) or directors per movie, the movie title will be repeated in different documents the same time as  the number of actors and directors this movie has.

Graphically, we see how for the same movies (at the left side of the bar chart) the movie title is repeated  according to each color presented in each bar (each color represent a unique actor-director pair).

In this way, in order to remark the data behavior of each different movie, the ``movie title`` could act as a grouping field

Keeping going with the data-behavior observation, let's start with some cross relational graphics:

<img width=750 src="Imagenes/Number of movies per director over the decades.png">

To start, we got that the main occurrence of movie release in our database is in range from 90's to 2010 and just 7 from the 28 directors have worked in more than one movie.
Also, from 2010 on going the null Director values represent near to the half of the data, as it's showed at the down right corner of the graph.

<img width=750 src="Imagenes/Actors - Directors coincidence correlation.png">

In order to find the existence of a correlation between actors and directors, a heat map of coincidences between directors and actors on the same document is displayed, showing the choising preferences of some directors to work with determinated actors (just like the case of tom Hanks with some directors at the left side of the graphic) but even, this correlation can reveal the existence of movies franchises if we complement with other information like actor name, role interpreted and releasing years, such as the case of matrix (easy to note due the small extension of our database), evidentiated by the occurrence of some actors with directors Andy and Lana Wachowski.

# Conclusions and recommendations

After the performance of consults throug python drivers to MongoDB, Neo4j and MySQL, we could comment that:

- The use of the Jupyter drivers of this notebook to connect to the mentioned apps, truly improve the interaction of the queries outputs but pauperize the output visualization
- To export directly SQL tables like data to a Json files will repeat the principal fields on many rows
- The Pymongo sytax varies lightly from the standard mongoDB syntax

For further surveys:

- When we have SQL like tables to export to json formatted files, is better first manage the secondary(information) fields when it be convenient to get a single collection with an arraid document
- Try with py2neo driver to connect Jupyter and Neo4j and try to get a better graphos visualization
- MongoDB Chart is a really attractive tool to present resulting graphics, try to get a way to present it from Jupyter or any other central notebook